html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: white;
  overflow: hidden;
}

#eyepiece-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
  background-image: radial-gradient(circle, transparent 35%, black 40%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 4;
  opacity: 0;
}
#finder-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
  background-image: radial-gradient(circle at center, red 3px, transparent 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(1.2px);
}

#pollution-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  display: block;
  transition: opacity 1s;
}

#stel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#stel-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#info-card {
  position: absolute;
  top: 80px;
  left: 10px;
  width: 400px;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  z-index: 9;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.radecVal {
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}
.radecUnit {
  color: #ccc;
  font-weight: normal;
}

.dropdown-menu div {
  color: #000;
}

/* flatpickr modal styles */
/* #modal-container .flatpickr-calendar.inline {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

#modal-container .flatpickr-innerContainer {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

#progress {
  margin-left: auto;
  margin-right: 1rem;
} */

#modal-container {
  position: absolute;
  top: 70px;
  left: 10px;
  background: #222;
  padding: 1rem;
  border-radius: 8px;
  display: none;
  color: white;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

