.slide-container {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60%;

  .slider {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    /* height: 100%; */
    /* background: #d3d3d3;  */
    /* outline: none; */
    writing-mode: tb; /* top-bottom */
    /* -webkit-appearance: slider-vertical; */
  }

  .zoom-button {
    background-color: transparent;
    color: white;
    border: none;
  }

}


/* ::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
} */
